<div class="back"></div>
<!-- <a href = "/"><img src="http://farm8.staticflickr.com/7385/11300018346_58e66115f5_o.jpg"></a> -->
<div class="container">
	<div class="header twelve columns">
		<button class= "search">Shops</button>
		<button class= "search">Glossary</button>
		<button class= "search">Search</button>
	</div>
	<div class= "main sixteen columns">
		<div class="shop-form seven columns">
			<form class="shops">
			<label class="homelabel">Search for a coffee shop</label>
			<br>
				<input class="searchbox" type="text" name="shop-search" placeholder="Type a name"/>
			
			<br>				
			<label class="homelabel">OR</label>
			<br>
				<input class="searchbox" type="text" name="shop-search" placeholder="Type a zip code"/>
			<br>
			<button class="search">Search</button>
			</form>
		</div>
		<div class="drink-form seven columns">
			<form class="drinks">
			<label class="homelabel"> Search for a drink</label>
			<br>
				<input class="searchbox"type="text" name="drink-search" placeholder="Type a name">
				<br>
				<button class="search">Search</button>
			</form>
		</div>
	</div>
	<div class="footer sixteen columns">
		<h3>FOOTER</h3>
	</div>
</div>

