
<div class="back home"></div>
<%= render "layouts/header" %>
  <div class="row"></div>
  <div class="small-10 small-offset-1 large-3 large-offset-8 columns">
  	<div class="main-form">
  	<form action="/search"class="shops">
				<label class="homelabel">Search for a coffee shop</label>
				<br>
				<input class="searchbox" type="search" name="shopsearch" placeholder="Name, hood or zip"/><br>
				<button class="searchbox">Search</button>
			<%= button_tag link_to("View All", shops_path), class: "searchbox" %>
			</form>
			<br>
		<form action="/drinks"class="drinks">
				<label class="homelabel">Look up a drink</label>
				<br>
				
				<button class="searchbox">View Glossary</button>
			</form>
			</div>
  </div>
</div>



