<div class="container col-md-12">
	<div class="header col-md-12">
	<%= button_tag link_to('Shops', root_path), class: 'headbutts'%>
	<%= button_tag link_to('Glossary', drinks_path), class: 'headbutts'%>
	<% unless logged_in? %>
	<%= button_tag link_to('Log In', new_session_path), class: 'headbutts'%>
	<% else %>
	<%= button_tag link_to('Logout', session_path, :method => :delete), class: 'headbutts'%>
	<% end %>
	</div>
	<div class= "main col-md-10">
		<div class="shop-form col-md-6">
			<form class="shops">
			<label class="homelabel">Search for a coffee shop</label>
			<br>
				<input class="searchbox" type="text" name="shop-search" placeholder="Type a name"/>
			
			<br>				
			<label class="homelabel">OR</label>
			<br>
				<input class="searchbox" type="text" name="shop-search" placeholder="Type a zip code"/>
			<br>
			<button class="search">Search</button>
			</form>
		</div>
		<div class="drink-form col-md-6">
			<form class="drinks">
			<label class="homelabel"> Search for a drink</label>
			<br>
				<input class="searchbox"type="text" name="drink-search" placeholder="Type a name">
				<br>
				<button class="search">Search</button>
			</form>
		</div>
	</div>
	<div class="footer col-md-12">
		<h3>FOOTER</h3>
	</div>
</div>

