<div class="back home"></div>
<%= render "layouts/header" %>

<div class="row">
	
	<div class="small-6 large-6 columns">
		<img src="http://24.media.tumblr.com/tumblr_lzr276wu0y1qfw7rho1_400.gif">
	</div>
	<div class="small-6 large-6 columns shop-show">
		<h1 class="error">Sorry, We don't have any record of that. Should we?</h1>
		<h3 class="error">Send an email to mckenneth.scott@icloud.com to add your favorite coffee shop</h3>
	</div>
</div>

