<script type="text/javascript">
	$(function(){
		searchDrinks();
		getWords( addList );
		smooveScroll();
	})
</script>

<div class="back drinks"></div>
<%= render "layouts/header" %>

<div class="row">
	
	<div class="small-4 large-4 wordlist columns"></div>
	<div class="small-7 small-offset-1 large-7 definition columns"></div>

</div>