<div class="back new"></div>
<%= render "layouts/header" %>

<div class="row shop-show">
	
	<div class="small-6 large-6 columns">
		<%= render "signup" %>
	</div>
	<div class= "small-6 large-6 columns">
		<%= render "signin"%>
	</div>

</div>