
a{
	text-decoration: none;
}
a:visited{
	color:darkseagreen;
}
div.back{
	z-index: -2;
	width: 100%;
	position:fixed;
}
div.back.home{
	background: url(http://www.soapboxmedia.com/images/V4_Features/Issue_235/espresso-600.jpg);
	height: 100%;
	background-size: cover;
}
div.back.shops{
	background: url(http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg);
	height: 100%;
	background-size:cover;
}
div.back.drinks{
	background: url(http://3.bp.blogspot.com/-9BZkcn1oW-4/Unwrf-X06lI/AAAAAAAAAYQ/bbryt4U7qPE/s1600/image.jpeg);
	background-size: cover;
	height:100%;
}
div.back.new{
	background:url(http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg);
	height:100%;
	background-size: cover;
	-webkit-filter: contrast(90%)blur(1px) sepia(.3);
}

label.homelabel{
	font-family: "ABeeZee";
	font-size: 1.25em;
	color:cornsilk;
}
.header{
	position:fixed;
	z-index: 3;
	height: 15%;
	left:35%;
}
.shops{
	text-align: center;
}
.headbutts{
	border:none;
	background: rgba(34,31,31,.4);
	color:cornsilk;
	font-size: 1em;
	font-family:"ABeeZee";
}
.headbutts a:hover{
	color: darkseagreen;
}
.drinks{
	text-align: center;
}
.searchbox{
	font-family: "ABeeZee";
	font-size: 1em;
	text-align: center;
	background: rgba(34,31,31,.4);
	border:none;
	color:cornsilk;
}
.searchbox a{
	color: cornsilk;
}
.searchbox a:hover{
	color:darkseagreen;
}
input.searchbox{
	border: 1px solid cornsilk;
	font-family: "ABeeZee"
}
label{
	color: darkseagreen;
}
p.drink{
	color:darkseagreen;
}
div.new-user-form{
	border-radius: 20% 20% 0 20%;
	top: 6em;
	margin-right: 2%;
	background: rgba(34,31,31,.6);
	height: 300px;
}
.new-user-form form{
	text-align: center;
	margin:1em auto;
	line-height: 1em;
}
label.user-form{
	font-family: "Lato";
	font-size: 1em;
	margin-bottom: 5px;
}
.new-user-form input{
	width:80%;
	height: 1.5em;
	font-family: "Lato";
	font-size:1.1em;
	margin-bottom: 3px;
}

label.user-form-label{
	font-size: 2em;
	font-family: "Lato";
	margin-bottom: 10px;
}