html, body{
	max-width:100%;
}
a{
	text-decoration: none;
	/*display: inline-block;*/
}
a:visited{
	color:lavenderblush;
}
div.back{
	z-index: -2;
	background: url(http://farm6.staticflickr.com/5476/11328310724_a4e3f95754_o.png);
	width: 1500px;
	height: 1500px;
	position:absolute;
}
.image{
	position: absolute;
}

.container{
	z-index: 2;
}
.header{
	top: 12em;
	height: 15%;
}
.main{
	top:12em;
	background: rgba(0,0,0,.7);
	margin:0 auto;
	border-radius: 20px;
	/*border: 1px black solid;*/
	height:600px;
}
.shop-form{
	margin-top: 20%;
	/*margin-bottom:27.5%;*/
	border: 2px black solid;
	height:35%;
}
.shops{
	text-align: center;
}
.headbutts{
	border:1px solid black;
	background: rgba(34,31,31,.9);
	color:lavenderblush;
	display: inline;
	margin-top: 1em;
	margin-bottom: .5em;
	width:5em;
	height:2em;
	font-size: 2em;
	font-family:Helvetica;
}
.headbutts:hover{
	color: indianred;
}
.drink-form{
	margin-top: 20%;
	border: 2px black solid;
	height:35%;
}
.drinks{
	text-align: center;
}
.searchbox{
	height: 4em;
	font-family: Helvetica;
	font-size: 1.5em;
	text-align: center;
}
label{
	color: indianred;
}
.footer{
	text-align: center;
	height: 10%;
	background: coral;
	top:700px;
}
.scrolly{
	border-radius: 5px;
	background:rgba(240,248,205,.6);
	top:11em;
	left:16%;
	height:19em;
	overflow: scroll;
	position:relative;
}
p.drink{
	color:lavenderblush;
}
div.glossary{
	top:11em;
}
#navbar{
	background: rgba(100,149,237,.6);
	left: 8.5em;
}