html, body{
	max-width:100%;
}
div.back{
	z-index: -2;
	background: url(http://farm6.staticflickr.com/5476/11328310724_a4e3f95754_o.png);
	width: 1500px;
	height: 1500px;
	position:absolute;
}
img.background{
	/*height:1000px; */
	/*max-width: 100%;*/
	/*border:5px solid rgba(0,0,0,1);*/
	position: absolute;
	z-index: -1;
	/*-webkit-filter: ;*/
	-webkit-filter:contrast(110%) blur(3%);
	
}

.container{
	/*margin-top: */
	z-index: 2;
	border:2px black solid;
	position: relative;
}
.header{
	height: 15%;
}
.main{
	background: rgba(0,0,0,.7);
	margin:0 auto;
	border-radius: 20px;
	/*border: 1px black solid;*/
	height:600px;
}
.shop-form{
	margin-top: 20%;
	/*margin-bottom:27.5%;*/
	border: 2px black solid;
	height:35%;
}
.shops{
	text-align: center;
}
.search{
	border:1px solid black;
	background: rgba(34,31,31,.9);
	color:lavenderblush;
	margin-top: 1em;
	margin-bottom: .5em;
	width:4em;
	height:2em;
	font-size: 2em;
	font-family:Helvetica;
}
.drink-form{
	margin-top: 20%;
	border: 2px black solid;
	height:35%;
}
.drinks{
	text-align: center;
}
.searchbox{
	height: 4em;
	font-family: Helvetica;
	font-size: 1.5em;
	text-align: center;
}
label{
	color: indianred;
}
.footer{
	text-align: center;
	height: 10%;
	background: coral;
}